.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}
.joinus .columns-wrapper > .columns > div {
  border-left: 1px solid #000;
  padding-left: 50px;
}
.joinus .columns-wrapper > .columns > div > div > p {
  font-size: 16px;
}
.joinus .columns-wrapper > .columns > div > div > .button-container a {
  background-color: #005cb9;
  color: #ffffff;
  border: 2px solid #005cb9;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 30px;
  font-weight: bold;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  transition: box-shadow 0.3s;
  line-height: 1.8em;
  cursor: pointer;
}

.join-us {
  font-size: 25px;
}
.black > .columns-wrapper > .columns > div > div {
  margin-top: 0;
}
.black > .columns-wrapper > .columns > div > div > h2 {
  font-size: 25px;
}
.black > .columns-wrapper > .columns > div > div > p {
  font-size: var(--fz);
}
