.careers .columns-wrapper {
  background-color: #f3f3f3;
}
.careers > .columns-wrapper > .columns > div :nth-child(1) > h2 {
  font-size: 25px;
}
.careers > .columns-wrapper > .columns > div :nth-child(1) > p {
  font-size: 16px;
}

.people > .columns-wrapper > .columns > div :nth-child(1) > {
  border-left: 1px solid #000;
  padding-left: 50px;
}
.people > .columns-wrapper > .columns > div :nth-child(1) > h2 {
  font-size: 25px;
}
.people > .columns-wrapper > .columns > div :nth-child(1) > p {
  font-size: 16px;
}

.test > .columns-wrapper > .columns > div :nth-child(2) > h2 {
  font-size: 25px;
}
.test > .columns-wrapper > .columns > div :nth-child(2) > p {
  font-size: 16px;
}
.test > .columns-wrapper > .columns > div :nth-child(2) {
  border-left: 1px solid #000;
}
.ready-to {
  text-align: center;
}
.ready-to > div :nth-child(1) > h2 {
  font-size: 25px;
}
.ready-to > div :nth-child(2) > p > .button-container {
  font-size: 16px;
}
.ready-to-container {
  background-color: #f3f3f3;
}